:root {
  --primary: #ffffff;
  --primary-text: #ffffff;
  --secondary: #ffffff;
  --secondary-text: #ffffff;
  --accent: #ffffff;
  --accent-text: #ffffff;
  --button-text: #000000;
  --link-text:  #ffffff;

}
